<!DOCTYPE html>
<html lang="en">
    <style> 
        .table thead th {
            background-color: #ebf3ff;
        }
    </style>
<body>
    <div id="app">
        <div id="main">
            <style>
                body {
                 background-color:#f2f7ff;
                }
            </style>
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>

            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>대회 현황</h3>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top: 10px;">
                    <h5 class="cen">대회 정보</h5>
                    <div class="card" style="border:0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md">
                                    <h6 class="text-muted font-semibold">대회 제목</h6>
                                    <h6 class="font-extrabold mb-0"><%= competition[0][0].titles %></h6>
                                </div>
                                <div class="col-md">
                                    <h6 class="text-muted font-semibold">대회 기간</h6>
                                    <h6 class="font-extrabold mb-0"><%= competition[0][0].start %> ~ <%= competition[0][0].end %></h6>
                                </div>
                            </div>
                            <div class="row" style="padding-top:10px">
                                <div class="col-md">
                                    <h6 class="font-extrabold mb-0"></h6>
                                    <h6 class="text-muted font-semibold">대회 내용</h6>
                                    <h6 class="font-extrabold mb-0"><%= competition[0][0].content %></h6>
                                    <h6 class="font-extrabold mb-0"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h5>대회 결과</h5>
                        </div>
                    </div>
                </div>
                <section class="section">
                    <div class="card border-0">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="table1">
                                <thead>
                                    <tr class="table-secondary">
                                        <th cope="col" class="text-center">순위</th>
                                        <th cope="col" class="text-center">닉네임</th>
                                        <th cope="col" class="text-center">이름</th>
                                        <th cope="col" class="text-center" >수익률</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(com of competition[1]) { %>
                                    <tr>
                                        <td class="text-center">1</td>
                                        <td class="text-center">제1회 모의투자 대회</td>
                                        <td class="text-center">2021-12-03~2021-12-09</td>
                                        <th cope="col" class="text-center" >수익률</th>
                                    </tr>
                                    <tr>
                                        <td class="text-center">2</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <th cope="col" class="text-center" >수익률</th>
                                    </tr>
                                    <tr>
                                        <td class="text-center">3</td>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <th cope="col" class="text-center" >수익률</th>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/main.js"></script>
</body>
</html>