<div class="inner">
    <div class="copyright">
        <p></p>
    </div>
</div>
<script src="/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="/javascripts/bootstrap.bundle.min.js"></script>