<!-- layout.ejs-->

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>EJS</title>
    </head>
    <body class="container" style="margin-top:80px;">
        <div id="header">
            <%- include('header') %>
        </div>
        <section><%- body%></section>
        <section id = "footer">
            <hr>
            <%- include('footer') %>
        </section>
    </body>
</html>