
<!-- Downloaded chart.css -->
<link rel="stylesheet" href="chart.css">

<!-- RawGit CDN chart.css -->
<link rel="stylesheet" href="https://cdn.rawgit.com/theus/chart.css/v1.0.0/dist/chart.css" />
<style>
body {
    background-color: #ebf3ff;
}
/*검색창 css*/
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
</style>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
<body bgcolor="#435ebe">
<div id="app">
    <div class="page-heading">
        <div class="container">
            <br/>
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8">
                    <form class="card card-sm">
                        <div class="card-body row no-gutters align-items-center" style="padding:0.5rem;">
                            <div class="col-auto">
                                <i class="fas fa-search h4 text-body"></i>
                            </div>
                            <!--end of col-->
                            <div class="col">
                                <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                            </div>
                            <!--end of col-->
                            <div class="col-auto">
                                <button class="btn btn-lg btn-success" type="submit" style="background-color: #435ebe;border-color: #435ebe;">Search</button>
                            </div>
                            <!--end of col-->
                        </div>
                    </form>
                </div>
                <!--end of col-->
            </div>
        </div>    
    </div>
    <div class="page-content">
        <h3 class="cen" style="padding-bottom: 10px;">A기업</h3>
        <div class="row">
            <div class="card" style="border:0">
                <div class="card-body px-3 py-4-5">
                    <div class="row">
                        <div class="col-md-2">
                            <h6 class="font-extrabold mb-0"></h6>
                            <h6 class="text-muted font-semibold">설립 년도</h6>
                            <h6 class="font-extrabold mb-0">2020-04-10</h6>
                            <h6 class="font-extrabold mb-0"></h6>
                        </div>
                        <div class="col-md-2">
                            <h6 class="text-muted font-semibold">10,000</h6>
                            <h6 class="font-extrabold mb-0">▲500(5.00%)</h6>
                        </div>
                        <div class="col-md-2">
                            <h6 class="text-muted font-semibold">거래량</h6>
                            <h6 class="font-extrabold mb-0">1,195,797</h6>
                        </div>
                        <div class="col-md-2">
                            <div class="buttons">
                                <a href="#" class="btn btn-light">실시간 차트</a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="buttons">
                                <a href="#" class="btn btn-light">기업 정보</a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="buttons">
                                <a href="#" class="btn btn-light">종목 토론</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive"  style="background-color: #fff;border:0">
                <table class="table table-lg">
                    <tbody>
                        <div class="cheart">
                            <tr>
                                <td style="font-size: xx-large;">11000</td>
                                <td class="text-bold-500"><div class="charts__chart chart--red" data-percent="80%" style="width: 80%"></div></td>
                                <!-- <td class="text-bold-500"><div class="buttons"><a href="#" class="btn btn-danger">매수</a></div></td> -->
                                <td class="text-bold-500"><div class="charts__chart chart--blue" data-percent="90%" style="width: 90%"></div></td>
                                <!-- <td class="text-bold-500"><div class="buttons"><a href="#" class="btn btn-primary">매도</a></div></td> -->

                            </tr>
                            <tr>
                                <td style="font-size: xx-large;">10500</td>
                                <td class="text-bold-500"><div class="charts__chart chart--red" data-percent="100%" style="width: 100%" ></div></td>
                                <!-- <td class="text-bold-500"><div class="buttons"><a href="#" class="btn btn-danger">매수</a></div></td> -->
                                <td class="text-bold-500"><div class="charts__chart chart--blue" data-percent="50%" style="width: 50%"></div></td>
                                <!-- <td class="text-bold-500"><div class="buttons"><a href="#" class="btn btn-primary">매도</a></div></td> -->

                            </tr>
                            <tr>
                                <td style="font-size: xx-large;">10000</td>
                                <td class="text-bold-500"><div class="charts__chart chart--red" data-percent="40%" style="width: 40%"></div></td>
                                <!-- <td class="text-bold-500"><div class="buttons"><a href="#" class="btn btn-danger">매수</a></div></td> -->
                                <td class="text-bold-500"><div class="charts__chart chart--blue" data-percent="70%" style="width: 70%"></div></td>
                                <!-- <td class="text-bold-500"><div class="buttons"><a href="#" class="btn btn-primary">매도</a></div></td> -->

                            </tr>
                            <tr>
                                <td style="font-size: xx-large;">9500</td>
                                <td class="text-bold-500"><div class="charts__chart chart--red" data-percent="100%" style="width: 100%"></div></td>
                                <!-- <td class="text-bold-500"><div class="buttons"><a href="#" class="btn btn-danger">매수</a></div></td> -->
                                <td class="text-bold-500"><div class="charts__chart chart--blue" data-percent="100%" style="width: 100%"></div></td>
                                <!-- <td class="text-bold-500"><div class="buttons"><a href="#" class="btn btn-primary">매도</a></div></td> -->

                            </tr>
                            <tr>
                                <td style="font-size: xx-large;">9000</td>
                                <td class="text-bold-500"><div class="charts__chart chart--red" data-percent="30%" style="width: 30%"></div></td>
                                <!-- <td class="text-bold-500"><div class="buttons"><a href="#" class="btn btn-danger">매수</a></div></td> -->
                                <td class="text-bold-500"><div class="charts__chart chart--blue" data-percent="50%" style="width: 50%"></div></td>
                                <!-- <td class="text-bold-500"><div class="buttons"><a href="#" class="btn btn-primary">매도</a></div></td> -->

                            </tr>
                        </div>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="padding-top:35px">
            <div class="card" style="border:0;">
                <div class="card-body">
                    <div class="row">
                        <h6 class="text-muted font-semibold">최신 기업 뉴스</h6>
                        <h6 class="font-extrabold mb-0">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, commodi? Ullam quaerat
                            similique iusto
                            temporibus, vero aliquam praesentium, odit deserunt eaque nihil saepe hic deleniti? Placeat
                            delectus
                            quibusdam ratione ullam!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, commodi? Ullam quaerat
                            similique iusto
                            temporibus, vero aliquam praesentium, odit deserunt eaque nihil saepe hic deleniti? Placeat
                            delectus
                            quibusdam ratione ullam!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, commodi? Ullam quaerat
                            similique iusto
                            temporibus, vero aliquam praesentium, odit deserunt eaque nihil saepe hic deleniti? Placeat
                            delectus
                            quibusdam ratione ullam!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, commodi? Ullam quaerat
                            similique iusto
                            temporibus, vero aliquam praesentium, odit deserunt eaque nihil saepe hic deleniti? Placeat
                            delectus
                            quibusdam ratione ullam!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, commodi? Ullam quaerat
                            similique iusto
                            temporibus, vero aliquam praesentium, odit deserunt eaque nihil saepe hic deleniti? Placeat
                            delectus
                            quibusdam ratione ullam!
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, commodi? Ullam quaerat
                            similique iusto
                            temporibus, vero aliquam praesentium, odit deserunt eaque nihil saepe hic deleniti? Placeat
                            delectus
                            quibusdam ratione ullam!
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>