<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css">

    <link rel="stylesheet" href="/vendors/iconly/bold.css">

    <link rel="stylesheet" href="/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <!-- <link rel="shortcut icon" href="/images/favicon.svg" type="image/x-icon"> -->
</head>
<style>
body {
    background-color: #ebf3ff;
}
/*검색창 css*/
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
</style>

<div class="page-heading">
    <div class="container">
        <br/>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm"  style="border:0">
                    <div class="card-body row no-gutters align-items-center" style="padding:0.5rem;">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit" style="background-color: #435ebe;border-color: #435ebe;">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>
    </div>    
</div>
<div class="page-content">
    <div class="row">
        <h5 class="cen">기본 정보</h5>
        <div class="card" style="border:0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md">
                        <h6 class="text-muted font-semibold">대표자</h6>
                        <h6 class="font-extrabold mb-0"><%=info.representative%></h6>
                    </div>
                    <div class="col-md">
                        <h6 class="text-muted font-semibold">회사명</h6>
                        <h6 class="font-extrabold mb-0"><%=info.company_name%></h6>
                    </div>
                </div>
                <div class="row" style="padding-top:10px">
                    <div class="col-md">
                        <h6 class="font-extrabold mb-0"></h6>
                        <h6 class="text-muted font-semibold">계열</h6>
                        <h6 class="font-extrabold mb-0"><%=info.industry_of_company%></h6>
                        <h6 class="font-extrabold mb-0"></h6>
                    </div>
                    <div class="col-md">
                        <h6 class="text-muted font-semibold">현재가</h6>
                        <h6 class="font-extrabold mb-0"><%=info.company_stock%></h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h5 class="cen">시세 현황</h5>
        <div class="card" style="border:0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md">
                        <h6 class="text-muted font-semibold">종가/전일대비</h6>
                        <h6 class="font-extrabold mb-0">10,000/-500원(-5.00%)</h6>
                    </div>
                    <div class="col-md">
                        <h6 class="text-muted font-semibold">52주 최고/최저</h6>
                        <h6 class="font-extrabold mb-0">10,500/8,500</h6>
                    </div>
                </div>
                <div class="row" style="padding-top:10px">
                    <div class="col-md">
                        <h6 class="text-muted font-semibold">거래량</h6>
                        <h6 class="font-extrabold mb-0">5,000주</h6>
                    </div>
                    <div class="col-md">
                        <h6 class="text-muted font-semibold">거래대금</h6>
                        <h6 class="font-extrabold mb-0">5,000만원</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h5 class="cen">Business Summary</h5>
        <div class="card" style="border:0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md">
                        <h6 class="text-muted font-semibold">영업 이익 흑자 전환</h6>
                        <h6 class="font-extrabold mb-0">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, commodi? Ullam quaerat
                        similique iusto
                        temporibus, vero aliquam praesentium, odit deserunt eaque nihil saepe hic deleniti? Placeat
                        delectus
                        quibusdam ratione ullam!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, commodi? Ullam quaerat
                        similique iusto
                        temporibus, vero aliquam praesentium, odit deserunt eaque nihil saepe hic deleniti? Placeat
                        delectus
                        quibusdam ratione ullam!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, commodi? Ullam quaerat
                        similique iusto
                        temporibus, vero aliquam praesentium, odit deserunt eaque nihil saepe hic deleniti? Placeat
                        delectus
                        quibusdam ratione ullam!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, commodi? Ullam quaerat
                        similique iusto
                        temporibus, vero aliquam praesentium, odit deserunt eaque nihil saepe hic deleniti? Placeat
                        delectus
                        quibusdam ratione ullam!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, commodi? Ullam quaerat
                        similique iusto
                        temporibus, vero aliquam praesentium, odit deserunt eaque nihil saepe hic deleniti? Placeat
                        delectus
                        quibusdam ratione ullam!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, commodi? Ullam quaerat
                        similique iusto
                        temporibus, vero aliquam praesentium, odit deserunt eaque nihil saepe hic deleniti? Placeat
                        delectus
                        quibusdam ratione ullam!
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h5 class="cen">손익 계산서</h5>
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: '# of Votes',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: true
            }
        }
    }
});
</script>
<script src="/javascripts/main.js"></script>