<style>
body {
    background-color: #ebf3ff;
}
/*검색창 css*/
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
</style>

<div class="page-heading">
    <div class="container">
        <br/>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <form class="card card-sm"  style="border:0">
                    <div class="card-body row no-gutters align-items-center" style="padding:0.5rem;">
                        <div class="col-auto">
                            <i class="fas fa-search h4 text-body"></i>
                        </div>
                        <!--end of col-->
                        <div class="col">
                            <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Search topics or keywords">
                        </div>
                        <!--end of col-->
                        <div class="col-auto">
                            <button class="btn btn-lg btn-success" type="submit" style="background-color: #435ebe;border-color: #435ebe;">Search</button>
                        </div>
                        <!--end of col-->
                    </div>
                </form>
            </div>
            <!--end of col-->
        </div>
    </div>    
</div>
<div class="page-content">
    <div class="row">
        <h5 class="cen">기본 정보</h5>
        <div class="card" style="border:0">
            <div class="card-body">
                <div class="row">
                    <div class="col-md">
                        <h6 class="text-muted font-semibold">대표자</h6>
                        <h6 class="font-extrabold mb-0">홍길동</h6>
                    </div>
                    <div class="col-md">
                        <h6 class="text-muted font-semibold">계열명</h6>
                        <h6 class="font-extrabold mb-0">A 창업존 기업</h6>
                    </div>
                </div>
                <div class="row" style="padding-top:10px">
                    <div class="col-md">
                        <h6 class="font-extrabold mb-0"></h6>
                        <h6 class="text-muted font-semibold">설립일</h6>
                        <h6 class="font-extrabold mb-0">2020-10-04</h6>
                        <h6 class="font-extrabold mb-0"></h6>
                    </div>
                    <div class="col-md">
                        <h6 class="text-muted font-semibold">기업 번호</h6>
                        <h6 class="font-extrabold mb-0">042-1234-1234</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <h5 class="cen">종목 토론</h5>
        <div class="card" style="border:0">
            <div class="card-body">
                <div class="row">
                    <div class="form-group">
                        <label for="basicInput"></label>
                        <div id="input-button">
                            <input type="text" class="form-control" id="basicInput"
                                placeholder="Enter email" style="float:left;width: 85%;">
                            <div class="buttons" style="float:left;padding-left:20px">
                                <a href="#" class="btn btn-primary rounded-pill">Primary</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <section class="section">
                        <div class="row">
                            <div class="card" style="margin-bottom:0rem;">
                                <div class="card-body" style="padding:0rem">
                                    <div class="divider-comment-time" style="float:right;padding-right:10px">
                                        <div class="divider-text">댓글 작성 시간</div>
                                    </div>
                                    <br>
                                    <div class="divider-comment-nickname" style="float:left;padding-left:10px">
                                        <h6 class="font-extrabold mb-0">작성자 닉네임</h6>
                                    </div>
                                    <br>
                                    <div class="divider-comment-content" style="float:left;padding-left:25px;padding-top:5px;padding-bottom: 10px;">
                                        <div class="divider-text">댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용</div>
                                    </div>
                                </div>
                            </div>
                            <div class="div-padding" style="padding-bottom: 10px;"></div>
                            <div class="card" style="margin-bottom:0rem;">
                                <div class="card-body" style="padding:0rem">
                                    <div class="divider-comment-time" style="float:right;padding-right:10px">
                                        <div class="divider-text">댓글 작성 시간</div>
                                    </div>
                                    <br>
                                    <div class="divider-comment-nickname" style="float:left;padding-left:10px">
                                        <h6 class="font-extrabold mb-0">작성자 닉네임</h6>
                                    </div>
                                    <br>
                                    <div class="divider-comment-content" style="float:left;padding-left:25px;padding-top:5px;padding-bottom: 10px;">
                                        <div class="divider-text">댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용</div>
                                    </div>
                                </div>
                            </div>
                            <div class="div-padding" style="padding-bottom: 10px;"></div>
                            <div class="card" style="margin-bottom:0rem;">
                                <div class="card-body" style="padding:0rem">
                                    <div class="divider-comment-time" style="float:right;padding-right:10px">
                                        <div class="divider-text">댓글 작성 시간</div>
                                    </div>
                                    <br>
                                    <div class="divider-comment-nickname" style="float:left;padding-left:10px">
                                        <h6 class="font-extrabold mb-0">작성자 닉네임</h6>
                                    </div>
                                    <br>
                                    <div class="divider-comment-content" style="float:left;padding-left:25px;padding-top:5px;padding-bottom: 10px;">
                                        <div class="divider-text">댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용</div>
                                    </div>
                                </div>
                            </div>
                            <div class="div-padding" style="padding-bottom: 10px;"></div>
                            <div class="card" style="margin-bottom:0rem;">
                                <div class="card-body" style="padding:0rem">
                                    <div class="divider-comment-time" style="float:right;padding-right:10px">
                                        <div class="divider-text">댓글 작성 시간</div>
                                    </div>
                                    <br>
                                    <div class="divider-comment-nickname" style="float:left;padding-left:10px">
                                        <h6 class="font-extrabold mb-0">작성자 닉네임</h6>
                                    </div>
                                    <br>
                                    <div class="divider-comment-content" style="float:left;padding-left:25px;padding-top:5px;padding-bottom: 10px;">
                                        <div class="divider-text">댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용 댓글 내용</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- <div class="col-md">
                        <h6 class="text-muted font-semibold">52주 최고/최저</h6>
                        <h6 class="font-extrabold mb-0">10,500/8,500</h6>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>