<style>
body {
    background-color: #ebf3ff;
}
/*검색창 css*/
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
</style>
    
<div class="page-heading"></div>
<div class="page-content">
<div class="row">
    <h5 class="cen">기본 정보</h5>
    <div class="card" style="border:0">
        <div class="card-body">
            <div class="row">
                <div class="col-md">
                    <h6 class="text-muted font-semibold">대표자</h6>
                    <h6 class="font-extrabold mb-0">이용하</h6>
                </div>
                <div class="col-md">
                    <h6 class="text-muted font-semibold">업종</h6>
                    <h6 class="font-extrabold mb-0">인형 및 장난감 제조업</h6>
                </div>
            </div>
            <div class="row" style="padding-top:10px">
                <div class="col-md">
                    <h6 class="font-extrabold mb-0"></h6>
                    <h6 class="text-muted font-semibold">기업 주소</h6>
                    <h6 class="font-extrabold mb-0">대전 유성구 유성대로 1646,101호</h6>
                    <h6 class="font-extrabold mb-0"></h6>
                </div>
                <div class="col-md">
                    <h6 class="text-muted font-semibold">사업 내용</h6>
                    <h6 class="font-extrabold mb-0">조립식 목재 로봇, 스마트 토이</h6>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <h5 class="cen">청약하기</h5>
    <div class="card" style="border:0">
        <div class="card-body">
            <section class="section">
                <div class="row" id="table-bordered">
                    <div class="col-12">
                        <div class="card border-0">
                            <div class="card-content">
                                <!-- table bordered -->
                                <div class="table-responsive">
                                    <table class="table table-bordered mb-0" style="border:0">
                                        <tbody>
                                            <tr>
                                                <th class="text-bold-500" style="width:30%">공모가</th>
                                                <td style="width:70%">12,000</td>
                                            </tr>
                                            <tr>
                                                <th class="text-bold-500" style="width:30%">청약 수량</th>
                                                <td style="width:70%"><input type="text" name="cnt" class="form-control form-control-xl" style="height: 20px;" onkeyup="keyup()"></td>
                                            </tr>
                                            <tr>
                                                <th class="text-bold-500" style="width:30%">청약 금액</th>
                                                <td id="total_price" style="width:70%"></td>
                                            </tr>                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <button type="button" id="modal_btn" class="btn btn-primary" style="width:15%;position:relative;left:910px;top: 10px;">청약 신청하기</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    function keyup () {
        var cnt = $('input[name=cnt]').val();
        var price = 12000*cnt;
        document.getElementById('total_price').innerHTML = price;
    }
    $(document).ready(function() {
        $('#modal_btn').on('click',function(){
            console.log('modal_btn click');
            var cnt = $('input[name=cnt]').val();

            if(cnt > 5) {
                alert('최대 5주까지 가능합니다.');
            } else {
                $.ajax({
                    url:'/search/public_offering',
                    type:'POST',
                    data: {'stock':cnt},
                    success : function(result) {
                        console.log(result);
                        alert('청약이 완료되었습니다.');
                        location.href = '/main'
                    }
                })
            }
        })
    })
</script>
<script src="/javascripts/main.js"></script>